<nav class="navbar fixed-top navbar-expand-lg " id="navbar">
  <div class="container">
    <a class="navbar-brand" href="{% url 'homepage' %}"><span id="proj">Hood</span> <span id="awardS">Assistant</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="color: white;">
        <li class="nav-item active">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}"><i class="bi bi-house-fill" style="font-size:1.5rem;color: white;"></i></a> </li>
        <li class="nav-item p-2">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Business</a>
            <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item text-center" href="{% url 'profile' user.username %}">My Profile</a>
              <hr>
              <a class="dropdown-item text-center" href="{% url 'profile' user.username %}"> Edit profile</a>
              <hr>
              <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>
            </div>
          </li>
        </li>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
        {% if user.is_authenticated%}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.username|title }} <img class="rounded-circle nav-img" style="height:10%;width:10%;" src="{{post.user.profile.profile_picture.url}} " alt=""></a>
          <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item text-center" href="{% url 'profile' user.username %}">My Profile</a>
            <hr>
            <a class="dropdown-item text-center" href="{% url 'profile' user.username %}"> Edit profile</a>
            <hr>
            <a href="{% url 'logout' %}" class="text-secondary text-center dropdown-item">Log Out</a>
          </div>
        </li>
        {% else %}
        <a href="" class="sign btn rounded-pill btn-outline-light"> another item</a>
        <a href="" class="sign rounded-pill btn  btn-outline-light"> item3</a> {% endif %}
      </ul>
    </div>
  </div>
</nav>